.card {
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  width: 80%;
  margin: 2em auto;
  padding: 3em 1em;
}

.cardHeading {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.2rem;
  padding: 1em 2rem;
}

.cardParagraph {
  padding: 1em 2em;
  color: rgb(75, 75, 75);
}

@media screen and (min-width: 960px) {
  .cardWrapper {
    display: flex;
    width: 80vw;
    margin: auto;
    gap: 3em;
  }
}
