.contactForm input {
  display: flex;
  width: 100%;
  border-radius: 3px;
  border: none;
  margin: 1rem 0rem;
  text-align: left;
}

.contactForm input[type='text'] {
  padding: 1em;
}

.contactForm textarea {
  width: 100%;
  height: 10rem;
  padding: 1em;
  border: none;
  border-radius: 3px;
}
