@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
}

.heroText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mainHeading {
  color: #a8dadc;
  /* display: flex; */
  /* width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center; */
  margin: 0 10%;
  font-size: 4.5em;
  font-family: 'Roboto', 'sans-serif';
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.heroDesc {
  color: white;
  font-size: 1.2em;
  text-align: center;
  width: 50em;
}
