@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
}

.heroText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.mainHeading {
  color: white;
  font-family: 'Roboto', 'sans-serif';
  font-size: 2.5rem;
  width: 90vw;
  text-align: center;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.heroDesc {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  padding: 1em 2em;
}
