@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');

.logo {
  font-family: 'Arvo', serif;
  color: #f1faee;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.8em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 1em 10%;
}

.navbar ul {
  display: flex;
  list-style: none;
  color: #f1faee;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.navbar ul li {
  margin-left: 1em;
}
