@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.servicesWrapper {
  width: 80%;
  margin: 4em auto;
  padding-top: 2em;
  font-family: 'Vollkorn', serif;
  color: white;
}

.mainHeading {
  margin-top: 2em;
  font-size: calc(1rem + 3vw);
}
